@media screen and (max-width:1400px) {
    #banner .prev {
        position: absolute;
        top: 20%;
        transform: translateY(-50%);
        left: 120px;
    }

    #banner .next {
        position: absolute;
        top: 20%;
        transform: translateY(-20%);
        right: 120px;
    }
}

@media screen and (max-width:1200px) {
    .products .product .desc {
        padding: 10px;
        font-size: 15px;
    }

    .general-header .logo {
        width: 200px;
    }

    #banner .arrow {
        display: none !important;
    }

    .general-header .search-form .input-group {
        height: 45px;
    }

    .general-header .header-bottom .nav-list a {
        font-size: 15px;
    }

    #banner .prev,
    #banner .next {
        display: none;
    }

    .general-footer .row {
        background-image: none;
    }

    .breadcrumb-area .heading {
        font-size: 25px;
    }

    .breadcrumb-area .breadcrumb-item a,
    .breadcrumb-area .breadcrumb-item {
        font-size: 16px;
    }

    .breadcrumb-area {
        height: 350px;
    }

    .product-detail .name {
        font-size: 30px;
    }
}


@media screen and (max-width:992px) {
    .general-header {
        width: 360px;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        z-index: 99;
        display: none;
    }

    .general-header.active {
        display: block;
    }

    .general-header .header-bottom .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .general-header .search-form {
        margin-bottom: 20px;
    }

    .general-header input {
        border-radius: 0;
    }

    .general-header .search-form .input-group-append span {
        border-radius: 0;
        background-color: var(--secondary-color);
        transition: all 0.4s ease;
    }

    .general-header .search-form .input-group-append span:hover {
        background-color: var(--main-color);
    }

    .general-header .social-media-links {
        justify-content: flex-start !important;
        margin: 10px 0 20px;
    }

    .general-header .social-media-links a {
        border-radius: 3px;
    }

    .general-header .logo {
        width: 200px;
    }

    .general-header .search-form .input-group {
        height: 45px;
    }

    .general-header .header-bottom .nav-list .nav-item {
        font-size: 17px;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 10px;
        color: #bbb;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        transition: all 0.4s ease;
    }

    .about .about-title {
        margin-bottom: 130px;
    }

    .testimonial .prev,
    .testimonial .next {
        display: none !important;
    }

    .breadcrumb-area .heading {
        font-size: 25px;
    }

    .breadcrumb-area {
        height: 300px;
    }

    .products-filter {
        display: none;
        position: fixed;
        left: 0;
        z-index: 999;
        top: 0;
        height: 100%;
        background-color: #fff;
        padding: 20px;
        padding-top: 40px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .products {
        padding: 20px 0;
    }

    .product-detail .name {
        font-size: 25px;
    }

    .contact .title {
        font-size: 22px;
    }

    .filter-btn {
        display: block;
    }
}

@media screen and (max-width:768px) {
    .products-page .sort-filter {
        flex-direction: column;
    }

    .products-page .sort-filter .item {
        width: 100%;
        border: none;
        margin-bottom: 20px;
    }

    .products-page .sort-filter .item .item-header {
        display: flex;
        justify-content: space-between;
    }

    .actions #countdown ul li {
        min-width: 70px;
        height: 70px;
        padding: 10px;
    }
    .actions #countdown ul li .num{
        font-size: 18px;
    }
}

@media screen and (max-width:576px) {
    .header-mobile .logo {
        width: 200px;
    }

    .header-mobile .menu-icon {
        width: 30px;
    }

    .breadcrumb-area {
        height: 250px;
    }
}